
<h1>All posts</h1>
    <h2>All category</h2>
        <div class="block_content">
            <ul class="tree-menu">
                <% @post_categories.each do |category| %>
                    <li><span></span><%= link_to category.title, post_category_path(category) %></li>
                        <% end %>  
            </ul>
        </div>
              <p>Random post</p>
                  <div class="block_content">
                      <ul class="blog-list-sidebar clearfix">
                          <% @random_posts.each do |post| %>
                              <li>
                                  <%= link_to post.title, post_path(post) %></h5>
                                      <div class="post-meta">
                                          <span class="date"><i class="fa fa-calendar"></i> <%= post.created_at.to_date %></span>    
                                      </div>
                                  </div>
                              </li>
                          <% end %>
                      </ul>
                  </div>
                  <div class="center_column col-xs-12 col-sm-9" id="center_column">
                      <div class="col-sm-7">
                          <div class="entry-ci">
                              <h3><%= link_to post.title, post_path(post) %></h3>
                                  <div class="entry-meta-data">
                                      <span class="date"><i class="fa fa-calendar"></i> <%= post.created_at.to_date %></span>
                                  </div>
                                    <div>
                                      <%= link_to "Post", post_path(post) %>
                                    </div>
                          </div>
                      </div>
                  </div>    
          <nav>
              <%= will_paginate @posts %>
          </nav>