<%= form_with(model: @post, local: true) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
    <div class="small_field">
      <%= f.text_field :title, placeholder: "Title" %>
    </div>
    <div class="field">
      <%= f.text_area :content, placeholder: "Content" %>
    </div>
    <div class="form-group">
      <%= f.select :post_category_id , @post_categories,{include_blank: 'Категория записи'}, {} %>
    </div>
    <span class="image">
      <%= f.file_field :image %>
    </span>
      <%= f.submit "Create_new_post", class: "btn btn-primary" %>
<% end %>
